<!-- ШАПКА -->
<div th:fragment="headBlank">
  <div class="headler">
    <!-- Навигационная панель -->
    <div class="container-fluid nav-panel">
      <ul class="nav nav-fill">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" th:href="@{/catalog}">Каталог</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/help/payment}">Оплата</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/help/delivery}">Доставка</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/help/return}" tabindex="-1" aria-disabled="true">Возврат</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Контакты
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" th:href="@{/help/about}">О нас</a></li>
            <li><a class="dropdown-item" th:href="@{/doc/requisites.pdf}">Реквизиты</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- Шапка сайта -->
    <div class="container-fluid">
      <div class="row">
        <!-- Логотип -->
        <div class="col-12 col-xl-3" id="logo">
          <a th:href="@{/}">
            <img src="/images/logo16_9.png" class="img-fluid" alt="логотип">
          </a>
        </div>
        <div class="col-12 col-xl-9">
          <!-- Первый ряд -->
          <div class="row">
            <div class="col-12 col-xxl-4 calls mx-auto">
              <img src="/images/phone_icon.png" alt="Значок телефона" sizes="" srcset="">
              <a class="call" href="tel:+79180457345">+7-918-045-73-45</a>
            </div>
            <div class="col-6 col-xl-4 d-none d-lg-block messengers" >
              <div class="row">
                <div class="col-6 col-xl-2">
                  <a href="https://api.whatsapp.com/send/?phone=7180457345" class="whatsapp">
                    <img src="/images/icon-whatsapp.png" alt="Значок Whatsapp">
                  </a>
                </div>
                <div class="col-4 text_messengers d-none d-xxl-block">
                  <p>Напишите нам в Whatsapp</p>
                </div>
                <div class="col-6 col-xl-2">
                  <a href="tg://resolve?domain=Kuban_diesel" class="telegram">
                    <img src="/images/icon-telegram.png" alt="Значок Telegram">
                  </a>
                </div>
                <div class="col-4 text_messengers d-none d-xxl-block">
                  <p>Найдите нас в Telegram</p>
                </div>
              </div>
            </div>
            <div class="col-6 col-xl-4 d-none d-lg-block">
              <button type="button" class="btn btn-info btn-lg" data-bs-toggle="modal" data-bs-target="#modal_call_me">Перезвоните мне!</button>
              <div class="modal fade" id="modal_call_me" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="exampleModalLabel">Мы свяжемся с Вами в ближайшее время!</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form th:method="GET" th:action="@{/help/call_me}">
                      <div class="modal-body">
                        <input type="text" class="form-control input_user_name" placeholder="Как к вам обращаться?" aria-label="name_user" aria-describedby="button-addon2" name="name">
                        <input type="text" class="form-control input_user_phone" placeholder="Введите номер телефона." aria-label="phone_user" aria-describedby="button-addon2" name="phone">
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отменить</button>
                        <button type="submit" class="btn btn-primary">Подтвердить</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Второй ряд -->
          <div class="row " id="second_row">
            <div class="col-lg-12 col-xl-8 align-self-center">
              <form method="get" action="/catalog/find">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                <div class="input-group mb-3">
                  <input type="text" class="form-control" name="find" placeholder="Введите артикул или название запчасти" aria-label="find" aria-describedby="button-addon2" readonly onfocus="this.removeAttribute('readonly')">
                  <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Поиск</button>
                </div>
              </form>
            </div>

            <!-- Вход в личный кабинет -->
            <div class="col-6 col-xl-2 align-self-center private_office">
              <div sec:authorize="!isAuthenticated()">
                <form th:action="@{/auth/login}" method="get">
                  <button class="btn btn-primary" type="submit">
                    Войти
                  </button>
                </form>
              </div>
              <div sec:authorize="isAuthenticated()">
                <form th:action="@{/users/personal}" method="get">
                  <button class="btn btn-link" type="submit">
                    Личный кабинет
                  </button>
                </form>
                <form th:action="@{/logout}" method="post">
                  <button class="btn btn-link" type="submit">
                    Выйти из профиля
                  </button>
                </form>
              </div>
            </div>

            <!-- Корзина заказов -->
            <div class="col-6 col-xl-2 align-self-center">
              <a href="/orders" class="basket">
                <img src="/images/icon-basket.png" alt="Корзина">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>